div.rfvidqseldiv {
  display: block;
  width: 100%;
  padding: 0;
  margin: 1rem 0;
}
div.rfvidqseldiv label {
  display: block;
  width: 100%;
  font-weight: bolder;
}
div.rfvidqseldiv select {
  width: auto;
}
div.rfvideo {
  position: relative;
  float: left;
  padding: 0;
  margin: 0 0 9px;
  color: #fff;
  background-color: #000;
}
div.rfvideo480p {
  width: 640px;
  height: 480px;
}
div.rfvideo360p {
  width: 480px;
  height: 360px;
}
div.rfvideostatus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: block;
  padding: 0;
  margin: 9px;
  font-family: var(--body-font-family);
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
div.rfvideoplaylist {
  display: block;
  float: none;
  padding: 0;
  margin: 0 0 9px;
  overflow: auto;
  background-color: #222;
}
div.rfvideoplaylist480p {
  width: 350px;
  height: 480px;
}
div.rfvideoplaylist360p {
  width: 350px;
  height: 360px;
}
ul.rfvideoplaylist-list {
  padding: 0;
  margin: 10px 0 0 15px;
}
li.rfvideoplaylist-item {
  height: 30px;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}
li.rfvideoplaylist-item a {
  font-family: var(--body-font-family);
  font-size: 13px;
  color: #bbb !important;
  text-decoration: none;
}
li.rfvideoplaylist-item a:hover,
li.rfvideoplaylist-item li a:focus {
  color: #fff !important;
  text-decoration: underline !important;
  cursor: pointer;
}
@media (max-width: 1090px) {
  div.rfvideo480p {
    margin: 0;
  }
  div.rfvideoplaylist480p {
    display: inline-block;
    width: 640px;
    height: 240px;
  }
}
@media (max-width: 930px) {
  div.rfvideo360p {
    margin: 0;
  }
  div.rfvideoplaylist360p {
    display: inline-block;
    width: 480px;
    height: 180px;
  }
}
@media (max-width: 699px) {
  div.rfvideo480p {
    width: 100%;
    height: auto;
    margin: 0;
  }
  div.rfvideo480p video {
    width: 100%;
    height: auto;
  }
  div.rfvideoplaylist480p {
    display: inline-block;
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 539px) {
  div.rfvideo360p {
    width: 100%;
    height: auto;
    margin: 0;
  }
  div.rfvideo360p video {
    width: 100%;
    height: auto;
  }
  div.rfvideoplaylist360p {
    display: inline-block;
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 419px) {
  ul.rfvideoplaylist-list {
    padding: 0;
    margin: 8px 0 0 12px;
  }
  li.rfvideoplaylist-item {
    height: 24px;
  }
  li.rfvideoplaylist-item a {
    font-size: 10px;
  }
}
